<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">


    <!--开启注解的支持-->
    <context:annotation-config/>

    <!--&lt;!&ndash;byType可以不要id&ndash;&gt;
    <bean class="com.kuang.pojo.Cat"/>
    <bean class="com.kuang.pojo.Dog"/>-->

    <!--
    byName:会自动在容器上下文中查找，和自己对象Set方法后面的值对应的beanid！
    byType:会自动在容器上下文中查找，和自己对象属性类型相同的bean！
    -->
    <!--<bean id="people" class="com.kuang.pojo.People" autowire="byType">
        <property name="name" value="小狂神呀"/>
        <property name="cat" ref="cat"/>
        <property name="dog" ref="dog"/>

    </bean>-->


    <bean id="cat111" class="com.kuang.pojo.Cat"/>
    <bean id="cat11" class="com.kuang.pojo.Cat"/>


    <bean id="dog222" class="com.kuang.pojo.Dog"/>
    <bean id="dog22" class="com.kuang.pojo.Dog"/>

    <bean id="people" class="com.kuang.pojo.People"/>





</beans>